.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh ;

}

/* @media screen (min-width:600px) and (max-width: 764px) {
  .App{
    border-radius: 9999px;
  }
  
} */